<ion-header>
  <ion-navbar>
    <ion-title>Create User Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="profileForm">
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input #username formControlName="username" [class.invalid]="!profileForm.controls.username.valid"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!profileForm.controls.username.valid">
      Username should be 6 characters long
    </ion-item>

    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input #firstName formControlName="firstName" [class.invalid]="!profileForm.controls.firstName.valid"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!profileForm.controls.firstName.valid">
      First Name is required
    </ion-item>

    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input #lastName formControlName="lastName" [class.invalid]="!profileForm.controls.lastName.valid"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!profileForm.controls.lastName.valid">
      Last Name is required
    </ion-item>

    <ion-item>
      <ion-label floating>Gender</ion-label>
      <ion-select #gender formControlName="gender" [class.invalid]="!profileForm.controls.gender.valid">
        <ion-option name="male">Male</ion-option>
        <ion-option name="female">Female</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="error-message" *ngIf="!profileForm.controls.gender.valid">
      Gender is required
    </ion-item>

    <ion-item>
      <ion-label floating>Birthday</ion-label>
      <ion-datetime #birthday formControlName="birthday" [class.invalid]="!profileForm.controls.gender.valid"></ion-datetime>
    </ion-item>
    <ion-item class="error-message" *ngIf="!profileForm.controls.gender.valid">
      Birthday is required
    </ion-item>
    <button ion-button block (click)="createProfile()">Create Profile</button>
  </form>
</ion-content>
