<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Book Store
    </ion-title>
    <ion-buttons end>
      <button ion-button clear icon-right (click)="signOut()">
        <ion-icon name="ios-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab bottom right *ngIf="((userProfile?.role) === 'Seller')">
    <button ion-fab mini (click)="createEntry()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-item>
    <h3>Welcome {{ (userProfile)?.username }}</h3>
  </ion-item>
  <ion-list-header>
      Available list of books in your place
    </ion-list-header>
  <ion-list *ngFor="let book of booksList">
    <ion-item-sliding>
        <ion-item>
          <ion-avatar item-start>
            <img src="http://placehold.it/200">
          </ion-avatar>
          <h3>{{book.title}}</h3>
          <p>{{book.authors}} ({{book.pubyear}})</p>
          <p>Posted by: some1</p>
          <ion-row style="font-size:smaller">
            <ion-col width-30>
                <p>LP: ₹{{book.lendprice}}</p>
            </ion-col>
            <ion-col width-30>
                <p>SP: ₹{{book.salesprice}}</p>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options>
          <button ion-button icon-start color="light">
            <ion-icon name="ios-more"></ion-icon>
            More
          </button>
          <button ion-button icon-start color="secondary">
              <ion-icon name="ios-heart"></ion-icon>
              Like
          </button>
          <button ion-button icon-start color="primary">
            <ion-icon name="call"></ion-icon>
            Call
          </button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
