<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Book Store
    </ion-title>
    <ion-buttons end>
      <button ion-button clear icon-right (click)="signOut()">
        <ion-icon name="ios-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab bottom right *ngIf="((userProfile?.role) === 'Seller')">
    <button ion-fab mini (click)="createEntry()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-item>
    <h3>Welcome {{ (userProfile)?.username }}</h3>
  </ion-item>
  <ion-list-header>
    List of books available in your place
  </ion-list-header>
  <ion-card *ngFor="let book of booksList">
    <ion-item>
      <ion-thumbnail item-start>
        <img src="http://via.placeholder.com/400">
      </ion-thumbnail>
      <h3>{{book.title}}</h3>
      <p>{{book.authors}} • {{book.pubyear}}</p>
      <p>LP: ₹{{book.lendprice}} • SP: ₹{{book.salesprice}}</p>
    </ion-item>
    <ion-row no-padding>
      <ion-col col-4>
        <button ion-button small clear icon-left (click)="openbook()">
          <ion-icon name="ios-book-outline"></ion-icon>
          More
        </button>
      </ion-col>
      <ion-col col-4>
        <button ion-button small clear icon-left (click)="likebook()">
          <ion-icon name="ios-heart" *ngIf="upvote"></ion-icon>
          <ion-icon name="ios-heart-outline" *ngIf="!upvote"></ion-icon>
          Like
        </button>
      </ion-col>
      <ion-col col-4>
        <button ion-button small clear icon-left (click)="lendbook()">
          <ion-icon name="ios-cart"></ion-icon>
          Lend
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
